<!DOCTYPE html>
<html>
<head>
    <title>Cambio de Contraseña</title>
</head>
<body>
<h2>Cambio de Contraseña</h2>
<form action="cambiar-contrasena.php" method="post">
    <label for="newPassword">Nueva Contraseña:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <br>
    <label for="confirmPassword">Confirmar Contraseña:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <br>
    <input type="submit" value="Cambiar Contraseña">
</form>
<a href="MenuCerrar.html">Ir al Menú</a>
</body>
</html>